@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Poppins:ital,wght@1,200&display=swap');

*
{
	margin: 0px;
	padding: 0px;
}
.header
{
	background-color: skyblue;
	line-height: 70px;
	padding-left: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;

}
a,a:hover
{
	text-decoration: none !important;
}
.logout
{
	float: right;
	padding-right: 30px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
ul
{
	background-color: #424a5b;
	width: 16%;
	height: 100%;
	position: fixed;
	padding-top: 10%;
	text-align: center;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
ul li
{
	list-style: none;
	padding-bottom: 30px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;

}
ul li a 
{
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
ul li a:hover
{
	color: skyblue;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
.content
{
	margin-left: 20%;
	margin-top: 5%;
	font-family: 'Poppins', sans-serif;
}