@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Poppins:ital,wght@1,200&display=swap');
*
{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
nav
{
	position: fixed;
	background-color: skyblue;
	height: 70px;
	width: 100%;
	z-index: 1;
	font-family: 'Poppins', sans-serif;
}

ul
{
	position: relative;
	float: right;
	margin-right: 20px;
	font-family: 'Poppins', sans-serif;
}
ul li
{
	display: inline-block;
	line-height: 70px;
	margin: 0 5px;
	font-family: 'Poppins', sans-serif;
}
ul li a
{
	text-decoration: none;
	color: white;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}
.main_img
{
	width: 100%;
	height: 300px;
}
.section1
{
	padding-top: 70px;
}
.img_text
{
	position: absolute;
	top: 20%;
	left: 30%;
	color: white;
	background-color: midnightblue;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 35px;
	font-family: 'Poppins', sans-serif;

}
.container
{
	padding-top: 70px;
	font-family: 'Poppins', sans-serif;

}
.teacher
{
	
	width: 100%;
	height: 500px;
	padding-bottom: 70px;
	font-family: 'Poppins', sans-serif;
}
.courses
{
	width: 100%;
	height: 200px;
	font-family: 'Poppins', sans-serif;
}
.label_text
{
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	font-family: 'Poppins', sans-serif;
	
}
.input_deg
{
	width: 30%;
	height: 40px;
	border-radius: 25px;
	border: 1px solid blue;
	font-family: 'Poppins', sans-serif;
}
.adm_int
{
	padding-top: 10px;
}
.input_txt
{
	width: 30%;
	height: 120px;
	border-radius: 25px;
	border: 1px solid blue;
	font-family: 'Poppins', sans-serif;
}
#submit
{
	position: relative;
	width: 15%;
	left: 5%;
}
footer
{
	background-color: black;
	height: 40px;
	width: 100%;
}
.footer_text
{
	text-align: center;
	color: white;
	top: 20%;
	position: relative;
	font-family: 'Poppins', sans-serif;
}
.adm
{
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Poppins', sans-serif;
}
.form_deg
{
	padding-top: 100px;
}
.label_deg
{
	display: inline-block;
	color: skyblue;
	width: 100px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Poppins', sans-serif;
}
.login_form
{
	background-color: black;
	width: 400px;
	font-weight: bold;
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: 'Poppins', sans-serif;
}
.title_deg
{
	background-color: skyblue;
	color: white;
	text-align: center;
	font-weight: bold;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
}
